html,
body {
    height: 100%;
    background-color: #1F1F1F;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.scrollbar
{
    float: left;
    height: 1000px;
    width: 100%;
    background: #000;
    overflow-y: scroll;
    margin-top: 30px;
    margin-bottom: 30px;
}

#style-2::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #D62929;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.matches {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    min-height: 100px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    position: relative;
}

.matches__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 84%;
    height: 100%;
    margin-left: 8%;
    margin-top: 10px;
    background: url("https://debet.com/images/hot-matches_bg.png") no-repeat 50%;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
    border-radius: 5px 5px 15px 15px;
}

.matches__column {
    position: relative;
}

.matches__column--left .matches__logo {
    left: 0;
    transform: translateX(5%);
}

.matches__logo {
    width: 90px;
    height: 90px;
    position: absolute;
    top: 5px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(11,10,13,.7);
    padding: 5px;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}

.matches__logo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
}

.matches__logo .swiper-container {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(11,10,13,.7);
}

.matches__column--left .matches__team-name {
    left: 70px;
}

.matches__team-name {
    position: absolute;
    z-index: 2;
    top: 30px;
    width: calc(100% - 70px);
    height: 25px;
}

.matches__column--left .matches__odds {
    left: 70px;
    text-align: left;
}

.matches__odds {
    position: absolute;
    z-index: 2;
    font-size: 14px;
    bottom: 0;
    white-space: nowrap;
    width: calc(100% - 120px);
    overflow: hidden;
    text-overflow: ellipsis;
    height: 25px;
    cursor: pointer;
}

.matches__team-name p {
    color: #000;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.3em;
    max-width: 150px;
}

.matches__odds span:first-child {
    color: #f8991d;
    margin-right: 1rem;
}

.matches__odds span:last-child {
    font-weight: 700;
    color: #fff;
}

.matches__column--center {
    flex: 0 0 35%;
    pointer-events: none;
}

.matches__play-now {
    position: absolute;
    top: 12px;
    left: 0;
    width: 100%;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("https://debet.com/images/hot-matches_btn.png") no-repeat bottom;
    -webkit-animation: btnHotMatchesAnimation 3s linear infinite;
    animation: btnHotMatchesAnimation 3s linear infinite;
    background-size: contain;
    z-index: 0;
}

.matches__date-time, .matches__date-time span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.matches__date-time {
    position: absolute;
    top: 58px;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 25px;
}

.matches__wrap-main-slide {
    position: absolute;
    bottom: -2px;
    left: 50%;
    z-index: 2;
    transform: translate(-50%);
    width: 132%;
}

.matches__play-now span {
    font-family: UTM Colossalis,Arial,sans-serif;
    color: #000;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    display: block;
    text-align: center;
}

.matches__date-time span {
    color: #000;
    font-weight: 700;
}

.matches__date-time, .matches__date-time span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.matches__type {
    max-width: 70%;
    margin: 0 auto;
    position: relative;
    height: 15px;
    padding-left: 10px;
}

.matches__type p {
    font-size: 12px;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    line-height: 1.3em;
    color: #ccc;
}

.matches__column--left, .matches__column--right {
    flex: 0 0 32%;
}

.matches__column--right .matches__logo {
    right: 0;
    transform: translateX(-5%);
}

.matches__column--right .matches__team-name {
    right: 70px;
}

.matches__team-name .swiper-slide {
    display: flex;
    align-items: center;
}

.matches__column--right .matches__team-name .swiper-slide {
    justify-content: flex-end;
}

.matches__column--right .matches__odds {
    right: 70px;
    text-align: right;
}

.matches {
    margin-top: 30px;
}

.swiper-container {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
}
.swiper-wrapper{
    padding-left: initial;
    margin: 0;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: 30%;
    height: 100%;
    border: 1px solid black;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.BannerFixed.BannerFixedLeft {
    left: 0;
}

.BannerFixed.BannerFixedRight {
    right: 0;
}

.BannerFixed {
    position: fixed;
    bottom: 0;
    z-index: 2;
}
.BannerFixed .close-banner {
    position: absolute;
    top: 3px;
    right: 4px;
    font-size: 15px;
    color: #fff;
}

.BannerStickyLeft {
    position: absolute;
    top: 0;
    left: 200px;
}

.BannerStickyRight {
    position: absolute;
    right: 200px;
}

.mb-10 {
    margin-bottom: 10px!important;
}
.d-block {
    display: block!important;
}


